.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.question-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.question-div h2 {
  margin: 0;
}

.success-banner {
  border: 1px solid black;
  contain: layout;
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-bottom: 100px;
}

.admin-banner .admin-icon {
  position: absolute;
  left: 10px;
  top: 5px;
}

.admin-banner {
  border: 1px solid black;
  contain: layout;
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-bottom: 100px;
}

.success-banner .success-icon {
  position: absolute;
  left: 10px;
  top: 5px;
}

.nav-button-field {
  display: flex;
  justify-content: center;
  gap: 10px;
}

table {
  border-collapse: collapse;
  border: 2px solid black;

  letter-spacing: 1px;
}

thead {
  background-color: grey;
  color: white;
}

th,
td {
  border: 1px solid black;
  width: 10%;
}

.flag-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.clickable {
  cursor: pointer;
}
